# Скомпилированные промежуточные файлы
*.o
*.obj
*.dll
*.so
*.dylib

# Игнорировать все exe, КРОМЕ готового исполняемого файла
*.exe
!netshield.exe

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-*

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
netshield_log.txt
